* {
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Fredoka";
  src: url("../fonts/Fredoka-VariableFont.ttf") format("truetype");
}
#titulo {
  font-family: "Fredoka";
}

.presentacion {
  max-width: 50vw;
  display: inline-block;
  padding: 5%;
  border: 1px solid red;
  margin: 5%;
}

h1 {
  font-family: "Bebas Neue", cursive;
}

h4, h5, h6 {
  color: #ed4af3;
  font-family: "Roboto", sans-serif;
}

div h5 {
  color: #fffb00;
}
div h4 {
  color: aquamarine;
}

.alineacion {
  text-align: center;
}

.video {
  position: relative;
  height: 100vh;
}

.contenido {
  font-family: sculpin, sans-serif;
  font-weight: 700;
  font-style: normal;
  height: 100%;
  padding: 30px;
  background-color: rgba(0, 255, 255, 0.199);
  width: 50%;
  position: absolute;
  right: 20px;
  top: 0;
}

/*
Sculpin Bold

font-family: sculpin, sans-serif;

font-weight: 700;

font-style: normal;


Sculpin Bold Italic

font-family: sculpin, sans-serif;

font-weight: 700;

font-style: italic;


Sculpin Regular

font-family: sculpin, sans-serif;

font-weight: 400;

font-style: normal;


Sculpin Regular Italic

font-family: sculpin, sans-serif;

font-weight: 400;

font-style: italic;

*/